{% load crispy_forms_field %}
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static '/image/chart.png' %}">
    <title>Kalpataru Trading Corporation</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'Form-new'%}">Kalpataru Trading Corporation</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Form-new'%}">New Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Buyer-new'%}">Add Buyer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Seller-new'%}">Add Seller</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Quality-new'%}">Add Quality</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Agent-new'%}">Add Agent</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Form-view'%}">View Form</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="table-responsive-sm">
        <table class="table">

            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <!-- <th scope="col">Buyer Name</th> -->
                    <th scope="col">Seller Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">View</th>
                </tr>
            </thead>
            <tbody>
                {% for Forms in Forms %}
                <tr>

                    <td>{{ Forms.id }}</td>
                    <!-- <td>{{ Forms.buyername }}</td> -->
                    <td>{{ Forms.sellername}}</td>
                    <td>{{ Forms.date }}</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="{% url 'Form-update' Forms.id %}">
                            <i class="fas fa-pencil-alt">
                            </i>
                            View
                        </a>
                        <a class="btn btn-info btn-sm" href="{% url 'download' Forms.id %}">
                            <i class="fas fa-print"></i> Print</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>